[Unit]
Description=Go-Api-Sim Application

[Service]
ExecStart=/apps/go-api/goapi

WorkingDirectory=/apps/go-api/

User=ekt
Group=users

Restart=always

[Install]
WantedBy=multi-user.target
