[Unit]
Description=Go-Api-Sim Application

[Service]
ExecStart=/apps/goapi/goapi

WorkingDirectory=/apps/goapi/

User=focus
Group=focus

Restart=always

[Install]
WantedBy=multi-user.target
